<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_tutorials)/worlds/hello.world"/>
  </include>

	 <!-- <node pkg="gazebo_tutorials" type="pubvel" name="mypub_vel" output="screen"></node>     -->
	

	<param name="safedia" value="2" />
	<param name="pubrate" value="4" />
	<param name="maxvel" value="10" />
	
	<node pkg="gazebo_tutorials" type="shadow_algorithm_node" name="ourturtlenode" output="screen" launch-prefix="xterm -bg Teal -geometry 120x80+2000+10 -e"> 
		<rosparam command="load" file="/home/hari/test_ws/src/gazebo_tutorials/params/params6.yaml" />
	</node>

</launch>
