<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find gazebo_tutorials)/urdf/cititruck.xacro'" />

  <group ns="robot1">
    <param name="tf_prefix" value="robot1" />
    <include file="$(find gazebo_tutorials)/launch/cititruck.launch">
      <arg name="robot_pose_x" value="24.15"/> 
      <arg name="robot_pose_y" value="6.47"/>
      <arg name="robot_pose_yaw" default="0.262"/>
      <arg name="robot_name" value="robot1" />
    </include>
  </group>

  <group ns="robot2">
    <param name="tf_prefix" value="robot2" />
    <include file="$(find gazebo_tutorials)/launch/cititruck.launch">
      <arg name="robot_pose_x" value="-17.68"/> 
      <arg name="robot_pose_y" value="17.68"/>
      <arg name="robot_pose_yaw" default="2.356"/>
      <arg name="robot_name" value="robot2" />
    </include>
  </group>

  <group ns="robot3">
    <param name="tf_prefix" value="robot3" />
    <include file="$(find gazebo_tutorials)/launch/cititruck.launch">
      <arg name="robot_pose_x" value="-6.47"/> 
      <arg name="robot_pose_y" value="-24.15"/>
      <arg name="robot_pose_yaw" default="-1.833"/>
      <arg name="robot_name" value="robot3" />
    </include>
  </group>

	<param name="safedia" value="1" />
	<param name="pubrate" value="4" />
	<param name="maxvel" value="4" />
	
	<node pkg="gazebo_tutorials" type="shadow_algorithm_node" name="ourturtlenode" output="screen" launch-prefix="xterm -bg Teal -geometry 120x80+2000+10 -e"> 
		<rosparam command="load" file="/home/hari/test_ws/src/gazebo_tutorials/params/params6.yaml" />
	</node>
	
</launch>
